<div class="recipe recipe-list-item">
  <a href="{% url 'myRecipes:recipe' recipe.id %}">

    {% if recipe.cover.url is not Null  %}
    <div class="recipe-cover">
      <img
      src="{{recipe.cover.url}}"
      alt="temporario"
      />
    </div>
    {% else %}
      <p>SEM IMG</p>
    {% endif %}
  </a>
  
  <div class="recipe-title-container">
    <a href="{% url 'myRecipes:recipe' recipe.id %}">
      <h2 class="recipe-title">{{recipe.title}}</h2>
    </a>
  </div>
  <div class="recipe-autor">
    {% if recipe.author is not None %}
    <span class="recipe-autor-item">
      <i class="fas fa-user"></i>
      {{recipe.author.first_name}} {{recipe.author.last_name}}
    </span>
    {% else %}
    <span class="recipe-autor-item">
      <i class="fas fa-user"></i>
      *Anonimo*
    </span>
    {% endif %}
    <span class="recipe-autor-item">
      <i class="fas fa-calendar-alt"></i>
      {{recipe.created_at|date:"d/m/Y"}}
    </span>

    {% if recipe.category is not None %}
      <span class="recipe-autor-item">
        <a href="{%url 'myRecipes:category' recipe.category.id %}">
          <i class="fas fa-layer-group"></i>
          {{recipe.category.name}}
        </a>
      </span>
    {% endif %}

  </div>
  <div class="recipe-content">
    <p>
      {{ recipe.description }}
    </p>
  </div>
  <div class="recipe-meta-container">
    <div class="recipe-meta recipe-preparation">
      <h3 class="recipe-meta-title">
        <i class="fas fa-stopwatch"></i>
        Preparo
      </h3>
      <div class="recipe-meta-text">{{recipe.preparation_time}} {{recipe.preparation_time_unity}}</div>
    </div>
    <div class="recipe-meta recipe-servings">
      <h3>
        <i class="fas fa-pizza-slice"></i>
        Porções
      </h3>
      <div class="recipe-meta-text">{{recipe.servings}}{{recipe.servings_unity}}</div>
    </div>
  </div>

  {% if is_datail_page is not True %}
  <div class="recipe-footer">
    <a
      class="recipe-read-more button button-dark button-full-width"
      href="{% url 'myRecipes:recipe' recipe.id %}"
    >
      <i class="fas fa-eye"></i>
      <span>Ver mais...</span>
    </a>
  </div>
  {% endif %}

  {% if is_datail_page is True %}

    <div class="preparation_steps">
      {% if recipe.preparation_steps_is_html is True %}
        {{recipe.preparation_steps|safe}}
      {% else %}
        <p>
          {{recipe.preparation_steps|linebreaksbr}}
        </p>
      {% endif %}

    </div>

  {% endif %}
  
  
</div>
